body {
    background-color: #007bff;
}

.navbar {
    background-color: #343a40 !important;
}

.nav-link,
.navbar-brand {
    color: #ffffff !important;
}

.card {
    background-color: #ffffff;
}

.table {
    background-color: #ffffff;
}

.table th,
.table td {
    border: none;
    color: #000000;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #f0f0f0;
}
